@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
*{
    font-family: 'Mooli', sans-serif;
}   

body { background-color: hsl(256, 100%, 5%); font: 30px sans-serif; }
canvas { position: fixed; }

h1{
    z-index: 1;
    color: white;
}

